.container-fluid {
    position: relative;
    padding: 0 15px;
}

.paragraphs {
    display: inline;
    font-weight: bold;
}

.search {
    border: 1px solid;
    padding: 8px 11px 11px 11px;
    border-radius: 5px;
}

.search:hover{
    background-color: rgb(86, 200, 237);
}

.nav-item {
    padding-right: 70px;
    padding-left: 10px;
}

form{
    margin-top: 10px;
    margin-right: 20px;
}
.post {
    position: absolute;
    top: 80px;
    left: 20px;
}

.posting {
    font-size: 20px;
}

.arrow {
    font-size: 3px;
}

.images {
    margin-top: 120px;
}

.lemon {
    width: 100%;
    max-width: 750px;
    border-radius: 20px;
}

.blog {
    position: absolute;
    top: 100px;
    left: 845px;
    padding-top: 20px;
    padding-left: 30px;
    border-radius: 20px;
    background-color: rgb(168, 93, 118);
    height: 250px;
    width: 388px;
}

.join {
    position: absolute;
    border: none;
    border-radius: 10px;
    top: 200px;
    left: 270px;
    font-size: small;
    padding: 8px;
    color: red;
}

.join:hover{
    background-color: blue;
    color: white;
    font-size: medium;
    font-weight: bold;
}

.second {
    position: absolute;
    width: 395px;
    max-width: 400px;
    height: 300px;
    top: 360px;
    left: 841px;
    border-radius: 25px;
}


/* Media queries */
@media (max-width: 992px) {
    .images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lemon, .blog {
        position: static;
        width: 100%;
        margin-top: 20px;
    }

    .second{
        position: static;
        width: 1300px;
        margin-top: 20px;
    }

    .blog {
        background-color: rgb(168, 93, 118);
        padding: 20px;
        border-radius: 20px;
    }

    .join {
        position: static;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lemon, .blog {
        position: static;
        width: 100%;
        margin-top: 20px;
    }

    .blog {
        background-color: rgb(168, 93, 118);
        padding: 20px;
        border-radius: 20px;
    }

    .join {
        position: static;
        margin-top: 20px;
    }
    .second{
        position: static;
        width: 1300px;
        margin-top: 20px;
    }

}

@media (max-width: 576px) {
    .images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lemon, .second, .blog {
        position: static;
        width: 100%;
        margin-top: 20px;
    }

    .blog {
        background-color: rgb(168, 93, 118);
        padding: 20px;
        border-radius: 20px;
    }

    .join {
        position: static;
        margin-top: 20px;
    }
   
}
